
       a {
        text-decoration: none;
      }

      a:link, a:visited {
         color: #b67ad6;
      }
      a:hover{
        color: transparent;
        text-shadow: 0 0 5px #daff88;
      }

      div.a {
        line-height: normal;
      }

      html, body {
          height: 100%;
          width: 100%;
          overflow-x: hidden;

      }


      body {
        font-family: 'IBM Plex Sans', sans-serif;
        background: rgb(219,191,255);
        background: radial-gradient(circle, rgba(219,191,255,1) 12%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 73%, rgba(218,230,255,1) 100%);
        height: 100%;
        width: 100%;
        margin: 0;
        overflow-x: hidden; 
        color: #0e1244;

      }

  


@media only screen and (min-width: 1125px) {

  h1{
    font-size: 3vw;
    margin:10px;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    font-weight: 400;


}

h2{
  font-size: 2vw;
  margin:10px;
  font-family: 'IBM Plex Serif', serif;
  text-align: center;
  font-weight: 400;



}

h3{
  font-size:2.5vw;
  margin:10px;
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 2.5em;

}

h4{
  font-size:2vw;
  margin:10px;
  text-align: center;
  margin-left:-5px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 2em;
}


header {
  margin-left: 1em;
  margin-top:1em;
  line-height: 3vw;
  font-weight: 300;     
  width:100%;
}   
    

#title{
  position: absolute;
  left:0.5em;
  color: #b67ad6;
  font-size: 1.2vw;
  margin-top:-0.3em;
  line-height: 1.4vw;
  font-family: 'IBM Plex Sans', sans-serif;

}

#name{
  position: absolute;
  right:0.7em;
  color: #b67ad6;
  font-size: 1.2vw;
  margin-top:-0.3em;
  line-height: 1.4vw;
  background-color: #daff88;
  backdrop-filter: blur(20px);
  font-family: 'IBM Plex Sans', sans-serif;

}


#maze{
  right: 0;
  width: 45%;
  margin:auto;
  margin-top: 2em;
  font-size: 1.4vw;
  color: #b67ad6;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;

}

#mazeLine{
  position:absolute;
  /* right:0; */
  /* top:0; */
  width:45%;
}

#mazeText{
  position:absolute;
  font-size: 1.8em;
  /* right:0; */
  /* top:0; */
  width:45%;
}

mazeText a {
  text-decoration: none;
}


mazeText a:hover{
  color: transparent;
  text-shadow: 0 0 5px rgb(192, 124, 255);

}


#line1{
  animation-duration: 6s;
  animation-name: rotateOne;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}

#curve1{
  color:rgb(192, 124, 255)
}

@keyframes rotateOne {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotateTwo {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0deg);
    }
  }

#line2{
    animation-duration: 6s;
    animation-name: rotateTwo;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}


  #line3{
    animation-duration: 7s;
    animation-name: rotateOne;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

  #line4{
    animation-duration: 10s;
    animation-name: rotateTwo;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}


  #line5{
    animation-duration: 9s;
    animation-name: rotateOne;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}


#line6{
  animation-duration: 10s;
  animation-name: rotateTwo;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
  }



  
 #home{
   width:140px;
   padding: 12px;
   font-size: 12px;
    border: none;
    position: absolute;
    display: inline-block;
    left:0;
    top:0;
    margin-top:-1em;

 }

  #home:hover {
  filter: blur(5px);
}


  #star{
    width:160px;
    margin-top:-0.5em;
  }


  .dropdown {
    position: absolute;
    display: inline-block;
    right:0;
    top:0;
  }

  .dropbtn {
    background-color: transparent;
    /* width: 30%; */
    color: transparent;
    padding: 1em;
    border: none;
    cursor:pointer;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 350px;
    line-height: 0.5vw;
    /* box-shadow: 0px 8px 16px 0px #b67ad6(0,0,0,0.2); */
    z-index: 1;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    margin-top: -2em;
    margin-left: -8em;
    font-size: 1.2vw;

  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
  }

  .box{
    display:block; 
    position:relative; 
    width:360px; 
    margin-top:-29.2em; 
    margin-left:-1.5em; 
    z-index: -10
  }

  
  /* .dropdown-content a:hover {background-color: #f3dcff;} */
  
  .dropdown:hover .dropbtn {
    filter: blur(5px);
  }


  #text{
      margin: auto;
      margin-top: 10em;
      width:45%;
      line-height: 1.4em;
      font-size: 1.2em;

      }

    #footnote{
      text-align: center;
      font-size: 0.9em;
      line-height: 1.3em;
    }

    #note{
      width: 85%;
      margin-left:2.5em;
      font-size: 1em;
      line-height: 1.4em;

    }

    #image{
      width:600px;
      display:block;
      margin-left: auto;
      margin-right: auto;
      font-size:1vw;
      margin-top: -0.05em;
      line-height: 1.2vw;
      text-align: center;
      color:#513ea7

    }

  image:hover{
      background:#0000ff;
  }


    ::-moz-selection { /* Code for Firefox */
      color: #513ea7;
      background: #e7fd9c;
      filter: blur(2px);
      z-index: 10;

    }
    
    ::selection {
      color: #513ea7;
      background:#e7fd9c;
      filter: blur(2px);
      z-index: 10;
    }

    #title2{
      position: absolute;
      left:0.5em;
      color: #b67ad6;
      font-size: 1.2vw;
      line-height: 1.4vw;
      bottom: 1em;

    }
    
    #school{
      position: absolute;
      right:0.7em;
      color: #b67ad6;
      font-size: 1.2vw;
      line-height: 1.4vw;
      bottom: 1em;
    }



    }

    















@media only screen and (max-width: 1125px) {

  header {
    margin-left: 1em;
    margin-top:10em;
    line-height: 8.2vw;     
  }   
      
 
 h1{
  font-size: 9vw;
  margin:10px;
  font-family: 'IBM Plex Serif', serif;
  text-align: center;
  font-weight: 400;
  margin-top: 3em;

}

h2{
  font-size: 7.5vw;
  margin:10px;
  font-family: 'IBM Plex Serif', serif;
  text-align: center;
  font-weight: 400;



}

h3{
  font-size:9vw;
  margin:10px;
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
  margin-bottom: 2em;
  margin-top: 2em;
  font-weight: 400;


}

h4{
  font-size:6vw;
  margin:10px;
  text-align: center;
  margin-left:-5px;
  font-family: 'IBM Plex Serif', serif;
  margin-bottom: 2em;
  margin-top: 3em;
  font-weight: 400;

}

#title{
  position: relative;
  color: #b67ad6;
  font-size: 4vw;
  line-height: 5vw;
  margin-top:32em;
}

#name{
  position: relative;
  color: #b67ad6;
  font-size: 4vw;
  line-height: 5vw;
  background-color: #daff88;
  backdrop-filter: blur(20px);
}



      #maze{
        right: 0;
        width: 100%;
        margin:auto;
        font-size: 4vw;
        font-family: 'IBM Plex Serif', serif;
        font-weight: 400;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-top:150px;

        }
        
        #mazeLine{
            position:absolute;
            /* right:0; */
            top:0;
            width:100%;
            margin-top:150px;

        }
        
        #mazeText{
            position:absolute;
            /* right:0; */
            top:0;
            width:100%;
            margin-top:150px;

        }
        
        #line1{
            animation-duration: 6s;
            animation-name: rotateOne;
            animation-iteration-count: infinite;
            animation-timing-function:linear;
        }
        
        @keyframes rotateOne {
            from {
              transform: rotate(0deg);
            }
          
            to {
              transform: rotate(360deg);
            }
          }
        
          @keyframes rotateTwo {
            from {
              transform: rotate(360deg);
            }
          
            to {
              transform: rotate(0deg);
            }
          }
        
        #line2{
            animation-duration: 6s;
            animation-name: rotateTwo;
            animation-iteration-count: infinite;
            animation-timing-function:linear;
        }
        
        
          #line3{
            animation-duration: 7s;
            animation-name: rotateOne;
            animation-iteration-count: infinite;
            animation-timing-function:linear;
        }
        
          #line4{
            animation-duration: 8s;
            animation-name: rotateTwo;
            animation-iteration-count: infinite;
            animation-timing-function:linear;
        }
        
        
          #line5{
            animation-duration: 9s;
            animation-name: rotateOne;
            animation-iteration-count: infinite;
            animation-timing-function:linear;
        }
        
        
        #line6{
          animation-duration: 10s;
          animation-name: rotateTwo;
          animation-iteration-count: infinite;
          animation-timing-function:linear;
        }
        
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: transparent;
          }
          
          li {
            float: left;
          }
          
          li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          
          li a:hover {
            color: transparent;
            text-shadow: 0 0 5px rgba(0,0,0,0.5);
          }
        

                    
          #home{
            width:230px;
            padding: 16px;
            font-size: 16px;
            border: none;
            position: absolute;
            display: inline-block;
            left:0;
            top:0;
          }

          #home:hover {
          filter: blur(5px);
          }


        
          #star{
            width:250px;
            right:0;
            top:0;
          }

          .dropdown {
            position: absolute;
            display: inline-block;
            right:0;
            top:0;

          }
        
          .dropbtn {
            background-color: transparent;
            color: transparent;
            padding: 16px;
            font-size: 16px;
            border: none;
          }
          
          
          .dropdown-content {
            display: none;
            position: absolute;
            box-shadow: 0px 8px 16px 0px #b67ad6(0,0,0,0.2);
            z-index: 1;
            /* background: rgb(219,191,255);
            background: radial-gradient(circle, rgba(219,191,255,1) 12%, rgba(236,242,255,1) 100%); */
            font-size: 4vw;
            right: 20%;
            padding: 1em;
            margin-left:px;
            margin-top: 1em;
            width:660px;
            height: 1060px;
            backdrop-filter: blur(10px);
          }
         
          
          .box{
            display:block; 
            position:absolute; 
            width:850px; 
            margin-top:-30em; 
            margin-left:-100px; 
            z-index: -10
          }

          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            width: 700px;
            line-height: 5vw;
            font-family: 'IBM Plex Serif', serif;


          }
          
          /* .dropdown-content a:hover {background-color: #f3dcff;} */
          

          
          .dropdown:hover .dropbtn {background-color: transparent; filter: blur(5px);}
        
        
          #text{
              margin: auto;
              margin-top: 8em;
              width:93%;
              line-height: 5.2vw;
              font-size: 4.2vw;
            }
        
              ::-moz-selection { /* Code for Firefox */
                color: #3743b7;
                text-shadow: 0 0 5px #daff88;

              }
              
              ::selection {
                color: #3743b7;
                text-shadow: 0 0 5px #daff88;

              }

              #footnote{
                text-align: center;
              }
          
              #note{
                width: 85%;
                margin-left:2.5em;
                font-size: 4vw;
          
              }

              #image{
                width:100%;
                display:block;
                margin-left: auto;
                margin-right: auto;
                font-size:3vw;
                margin-top: -0.05em;
                line-height: 5vw;
                text-align: center;
                color:#513ea7
          
              }

              #title2{
                display: hidden;
                position: relative;
                color: #b67ad6;
                font-size: 4vw;
                line-height:5vw;
                margin-left: 1em;
                margin-top: 20em;


              }
              
              #school{
                display: hidden;
                position: relative;
                color: #b67ad6;
                font-size: 4vw;
                margin-left: 1em;
    
              }

}